@import '../../styles/vars.scss';

.home {
    .catalog {
        padding         : 20px;
        background-color: $violet;
    }

    .faq {
        padding         : 20px;
        background-color: $violet;
    }
}