$white     : rgb(255, 255, 255);
$violet    : rgb(72, 66, 131);
$darkGrey  : rgb(68, 75, 88);
$grey      : rgb(178, 181, 187);
$lightGrey : rgb(246, 246, 246);
$red       :rgb(241, 79, 79);
$darkRed   :rgb(140, 40, 40);
$lightRed  :rgb(248, 175, 175);