@import '../../styles/vars.scss';

.header {
    width          : 1440px;
    height         : 90px;
    display        : flex;
    padding        : 23px 130px;
    justify-content: space-between;
    align-items    : center;

    background-color: $violet;
    color           : $white;

    .nav {
        width      : auto;
        display    : flex;
        margin-left: auto;
        align-items: center;

        .navList {
            display    : flex;
            align-items: center;
            margin     : 0;
            padding    : 0;
            gap        : 40px;

            list-style: none;

            .navItem {
                font-size  : 14px;
                font-weight: 600;
                line-height: 20px;

                a {
                    display    : flex;
                    align-items: center;
                    gap        : 6px;

                    text-decoration: none;
                    color          : inherit;

                    &:hover {
                        color          : $grey;
                        text-decoration: underline;
                    }
                }

                &:nth-child(3) {
                    position: relative;
                    z-index : 1;
                }

                .navImage {
                    width : 20px;
                    height: 20px;
                }

                .counter {
                    width           : 12px;
                    height          : 12px;
                    position        : absolute;
                    z-index         : 2;
                    top             : 12px;
                    right           : -4px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    border-radius   : 6px;
                    background-color: $red;

                    color      : $white;
                    font-size  : 8px;
                    font-weight: 400;
                    line-height: 8px;
                }
            }
        }
    }

    @media (max-width: 1024px) {}

    @media (max-width: 768px) {
        width  : 100%;
        padding: 10px;

        .navList {
            gap: 10px;
        }
    }

    @media (max-width: 576px) {

        .navList {
            gap: 15px;
        }
    }
}